html, body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
paper-toolbar.paper-toolbar-0 {
	background: rgb(215, 169, 71);
	color: black;
}

.profile-image {
	min-width: 35px;
	min-height: 35px;
	border-radius: 50%;
	border: 2px solid white
}
